h2{
   color:orange;
   text-align: center;
}
p{
    color:white;
    background-color:black;
}
button{
    background-color:blue;
    color:white;
}
h1{
    font-family: league sparton;
    color:#ffa511;
    text-align:center;
    font-size:55px;
    font-weight:900;
    letter-spacing:2px;
    line-height:normal;
    text-decoration:double teal underline;
    text-transform:uppercase; 
}
div{
    height:200px;
    width:500px;
    background-color:pink;
    border-width:10px;
    border-color:yellow;
    border-style:dashed;
    border-left:5px solid blue;
}
    
