/*div{
    height:200px;
    width:200px;
    background-color: #4dff00ff;
   // transition:1s;
   // transition-delay:1s;
   margin: 0 auto;
   margin-top: 10px;
   transition : margin-top 2s ease-in 0.2s;
}
div:hover{
    //background-color:black;
    //border-radius:50%;
    margin-top: 100px;
    background-color: pink;
}*/

//Position practice
div{
    height:200px;
    width:200px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin:20px;
    display: inline-block;
}

#static{
    background-color:yellow;
    position:static;
    top: 100px;
    left: 100px;
}