*{
    font-family: 'Courier New';
}
h1,h3{
    color:#b92b27;
}
/*id is very strong in terms of specificity that is why when further we apply
the css properties to other buttons it does not apply on these. */
#login{
    background-color:white;
}
#signup{
    background-color:#b92b27;
    color:white;
}
.upvote{
    color:white;
    background-color:green;
}
.post a{
    background-color:yellow;
    color:purple;
}
nav ul li a{
    color:hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote + button{
    background-color: aquamarine;
}
div > input{
    background-color:cornsilk;   
}
input[type="text"]{
    color:crimson;
}
input[type="password"]{
    color:green;
}
button:hover{
    background-color: black;
    color:white;
}

button:active{
    background-color: hotpink;
    color:black;
}

p:active{
    font-weight: bold;
    color:green;
}
input[type="radio"]:checked+label{
    font-weight: bold;
    color:red;
}
h1::first-letter{
    color:green;
}
p::first-line{
    color:purple;
}
p::selection{
    background-color: chartreuse;
}